src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <apikit:config name="e-comm-config" api="resource::9d05498c-f6e1-4c53-a9f4-00ddd8ac3b1a:e-comm:1.0.4:raml:zip:e-comm.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="e-comm-main">
        <http:listener path="/api/*" config-ref="G-13-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <async doc:name="Async" doc:id="190a3cd9-79e4-4ce5-b5f4-c58aca972c10" >
			<flow-ref doc:name="Flow Reference" doc:id="9972f802-b0fa-4296-b220-c2e047cb827a" name="splunk_logging"/>
		</async>
		<apikit:router config-ref="e-comm-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="e-comm-console">
        <http:listener path="/console/*" config-ref="G-13-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="e-comm-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\accounts:e-comm-config">
        <flow-ref doc:name="Flow Reference" doc:id="7c6de692-b034-4092-8fe2-992f361ef880" name="getAccounts" />
    </flow>
    <flow name="get:\orders:e-comm-config">
        <flow-ref doc:name="Flow Reference" doc:id="010e0df6-70d9-44d1-bb09-e4b8b22aa58f" name="getOrders" />
    </flow>
    <flow name="put:\orders\(orderId):application\json:e-comm-config">
        <flow-ref doc:name="Flow Reference" doc:id="ef9a9b53-5aed-4927-9bba-ee548a4855ba" name="putOrders" />
    </flow>
    <flow name="get:\orders\(orderId):e-comm-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="orderId">attributes.uriParams.'orderId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="Flow Reference" doc:id="4ee8c0f6-3c79-472b-b57a-64b132229b0e" name="getOrdersById" />
    </flow>
    <flow name="post:\orders:application\json:e-comm-config">
        <flow-ref doc:name="Flow Reference" doc:id="e35be0bf-8dad-42f4-82fa-2334c96d3e03" name="postOrders" />
    </flow>
    <flow name="post:\users:application\json:e-comm-config">
        <flow-ref doc:name="Flow Reference" doc:id="094e0141-bb63-422e-a734-46b06dfdc461" name="postWishlist" />
    </flow>
    <flow name="put:\users\(userId):application\json:e-comm-config">
        <flow-ref doc:name="Flow Reference" doc:id="a93df0c2-67f3-4f96-9989-3162ccb6c72b" name="updateUserById" />
    </flow>
    <flow name="delete:\users\(userId):application\json:e-comm-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
"User Data Deleted successfully (Not really)"]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\wishlist:e-comm-config">
        <flow-ref doc:name="Flow Reference" doc:id="7e768483-fa59-45c1-959c-d2b9e357a390" name="getWishlist" />
    </flow>
    <flow name="post:\wishlist:application\json:e-comm-config">
        <flow-ref doc:name="Flow Reference" doc:id="cd39d6f2-a851-48a8-ba8f-d7f032a8622a" name="postWishlist" />
    </flow>
    <flow name="get:\inventory:e-comm-config">
        <flow-ref doc:name="Flow Reference" doc:id="850661d0-9549-478a-a5e5-3cd59de86a7d" name="getInventory" />
    </flow>
    <flow name="put:\inventory\(itemId):application\json:e-comm-config">
        <flow-ref doc:name="Flow Reference" doc:id="3a8d8308-be46-468c-a710-62a394888e36" name="putInventory" />
    </flow>
    <flow name="get:\inventory\(itemId):e-comm-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="itemId">attributes.uriParams.'itemId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="Flow Reference" doc:id="5182f427-c509-49db-b070-dc1466451e94" name="getInventoryById" target="GET/inventoryById" />
    </flow>
    <flow name="post:\inventory:application\json:e-comm-config">
        <flow-ref doc:name="Flow Reference" doc:id="24363c39-a891-4898-bf16-aea9731d730b" name="postInventory" />
    </flow>
    <flow name="get:\staging:e-comm-config">
        <flow-ref doc:name="Flow Reference" doc:id="1a7db784-65cc-4eb3-8127-c072c41b8f34" name="getStaging" />
    </flow>
    <flow name="post:\staging:application\json:e-comm-config">
        <flow-ref doc:name="Flow Reference" doc:id="7ec9e960-91ed-425c-adaa-5ba7fe3ed8dc" name="postStaging" />
    </flow>
    <flow name="post:\payment:application\json:e-comm-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Transaction Processed Successfully (Mocked)"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
